/* home  */

.topo-home {
    height: 100vh;
    color: #fff;
    background-image: url(imagem/slider4.jpg);
    background-attachment: fixed;
    background-clip: border-box;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    border-radius: unset;
    display: inline-block;
}



@media only screen and (max-device-width: 768px){
	.topo-home{
		background-attachment: scroll;
	}
}



/* contato */

.topo-contato{
    height: 59vh;
    color: #fff;
    background-image: url(imagem/slide9.jpg);
    background-attachment: fixed;
    background-clip: border-box;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    border-radius: unset;
    display: inline-block;

}

@media only screen and (max-device-width: 768px){
    .topo-contato{
        background-attachment: scroll;
	}
}

.banner-info {
    position: absolute;
    bottom: 0;
        left: 0;
        padding: 50px 20px 80px 20px;
    text-align: left;
    z-index: 9;
    color: #fff;
}

.banner-title{
    color: #fff   ;
	font-size: 42pt ;
	text-transform: uppercase;
}

.banner-description{
    font-size: 30pt !;
}

@media  screen and (max-width:575.99px){

    .banner-title  {
       font-size: 27pt;
    }
    .banner-description {
        font-size: 20pt;
    }

}
/* DISPLAY > CARDS */
.card{
    height: 100vh;
	color: #fff;
    border-radius: none;
    text-align: center;
    font-size: 27pt;
}
.card-info{
    text-align: center;
    color: #fff;
    font-size: 20pt;
    margin-top: 14%;

    
}

.card-title{
	text-transform: uppercase;
    color: #ffff;
}

@media screen and (max-width:575.99px){

    .card-title   {
       font-size: 27pt;
    }
    .card-info {
        font-size: 12pt;
    }

}
.card-description{
	font-size: 18pt !important;
    width: 100%;
    
}

/* Bloco2 */

.bloco2{
    text-align: center;
    margin: 2em;   
}

@media  screen and (max-width:575.99px){

    .bloco2 h1   {
       font-size: 27pt;
    }
    .bloco2 h4 {
        font-size: 15pt;
    }

}

/* icone bloco 2 */

.blocoIcons{
    color: #000;
    font-size: 41px;
    margin: -4px;
    text-align: center;
}

@media  screen and (max-width:575.99px){

    .blocoIcons   {
       font-size: 27pt;
    }
   

}
#Areas{
	background-image: url('imagem/slide6.jpg');
	background-attachment: fixed;
	background-clip: border-box;
	background-origin: border-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
    border-radius: unset;
    height: 100vh;
    color: #fff;
}
@media only screen and (max-device-width: 768px){
	#Areas{
		background-attachment: scroll;
	}
}

/* FOOTER */
footer{
	background-color: #ffff;
	color: #000;
	/*padding: 200px 50px 50px 50px;*/
	font-size: 16pt !important;
	font-weight: normal;
}
footer a {
    color:#000;

}
.footer{
	text-align: center;
	padding-top: 40px;
}
.footer h4{
	font-size: 16pt !important;
	margin-top: 20px;
	margin-bottom: 15px;
}
.footer-left ul{
	list-style: none;
	text-align: center;
	padding: inherit;
}
.footer-left ul li a{
	text-decoration: none;
	line-height: 36px;
}
fieldset{
	width: min-content;
    margin: auto;
}


/* Sobre */
.VideoSobre{ 
    width: 100%;
}


/* Trabalhos */

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
    @media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
    }
    
    @media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
    }


    .capa{
        height: 100vh;
        color: #fff;
        background-image: url(imagem/sobrecapa.jpg);
        background-attachment: fixed;
        background-clip: border-box;
        background-origin: border-box;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        border-radius: unset;
        display: inline-block;

    }
/* 
footer 2 opcao --------------------------------------------------------------------------------------------------------------------------*/

.section_gallery {
    padding-right: .5rem;
    padding-left: .5rem;
}

.section {
    padding: 6rem 0;
}
.section {
    padding: 3rem 0;
}
.section, body {
    position: relative;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}

.section_gallery__grid__item {
    padding-right: .5rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
}




.section_footer {
    background-color: #ffffff   ;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}


.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}

.section_footer__heading {
    font-family: Lato,sans-serif;
    font-size: .75rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #f5a637;
}

.section_footer__open__days {
    font-family: Lato,sans-serif;
    font-size: .75rem;
    font-weight: 700;
    font-weight: 900;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.section_footer__open__time {
    font-family: Playfair Display,serif;
    font-size: 1.25rem;
}

.section_footer__open+.section_footer__open {
    margin-top: 1rem;
}

.section_footer__copyright {
    margin-top: 2rem;
    color:#f5a637;
    font-size: 12px;
}

.section_footer__info {
    padding-left: 0;
    list-style-type: none;
}

.section_footer__info>li>i {
    position: absolute;
    top: .4em;
    left: 0;
}

::selection {
    color: #fff;
    background-color: #f5a637;
}
/* galeria  */

.galeria{
    height: auto;
    min-height: 500px;
    width: 100%;
    display: block;
  }
  
  .grid {
    margin: 0 auto;
  }
  
  .grid-sizer, .grid .item {
      width: 33%;
      display: block;
      float: left;
    padding: 8px;
  }
  
  /* Estilos Parallax */
  
  .grid .item{
      opacity: 0;
      transform: translateX(2rem);
      transition: all 0.5s linear;
  }
  
  .grid .item.show-items{
      opacity: 1;
      transform: translateX(0);
  }
  
  /* Fin Parallax*/
  
  .grid .item a,.grid .item img {
      max-width: 100%;
      display: block;
      border: none;
      outline: none;
  }
  
  .pswp__caption__center{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @media screen and (max-width: 767.99px){

    .grid-sizer, .grid .item {
        width: 49%;
    }
  
  }
  
  @media screen and (max-width:575.99px){
  
    .grid-sizer, .grid .item {
      width: 97%;
      margin: 10px 5px;
      padding: 0;
    }
  
    .grid .item a, .grid .item img{
      margin: 0 auto;
    }
  
  }


  /* css trabalhos-------------------------------------------------------------------------------------------------------------------------------------------------- */


  /* @media (min-width: 768px) */

.section[data-parallax=scroll] {
    background-color: transparent;
}
.section_welcome {
    height: 100vh;
    padding-top: 70px;
    padding-bottom: 0;
    color: #fff;
}

.section_welcome__main {
    height: calc(100vh - 99px * 2);
}

.section_welcome .text-muted {
    color: hsla(0,0%,100%,.7)!important;
}
.section__preheading {
    font-family: Lato,sans-serif;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.section__heading.text-center {
    margin-right: auto;
    margin-left: auto;
}
.section_welcome__heading {
    font-size: 5rem;
}
.section_welcome .text-muted {
        color: hsla(0,0%,100%,.7)!important;
    }
    .section__subheading.text-center {
        margin-right: auto;
        margin-left: auto;
    }
    .section__heading+.section__subheading {
        margin-top: -1.5rem;
    }
    .section_welcome__subheading {
        margin-bottom: 3rem;
    }
    .section__subheading {
        max-width: 600px;
        margin-bottom: 2.5rem;
    }
    .text-muted {
        color: #ababab!important;
    }
    .text-center {
        text-align: center!important;
        font-weight: 700;
        color: #fff;
    }

.section__heading {
    max-width: 600px;
    margin-bottom: 2.5rem;
}
.text-center {
    text-align: center!important;
}

/* @media (min-width: 768px) */
.section_welcome__footer {
    margin-top: 0;
}
.section_welcome__footer {
    height: 70px;
    margin-top: 3rem;
}
*, :after, :before {
    box-sizing: border-box;
}

.section_welcome__footer__social {
    padding-left: 0;
    list-style-type: none;
}

/* construcaodeGalpao------------------------------------------------------------------------------------------------------------------------------- */

.construcaodeGalpao{
    height: 87vh;
    color: #fff;
    background-image: url(imagem/slider4.jpg);
}

/* Botao--------------------------------------------------------------------------------------------------------------------------------------------- */

.btn {
    border-color: #f5a637;
    background-color: transparent!important;
    font-family: Lato,sans-serif;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: .05em;
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem 2rem; 
    user-select: none;
    transition: color .1s;
    text-align: center;
    vertical-align: middle;
        border: 1px solid transparent;
    border-radius: 0;

}

.btn-primary{
    color: #212529;
    border-color: #ed8f0c;
    background-color: #f39613;

}

.text-white{
    color: #f5a637;
    

}
.btn:hover {
    text-decoration: none;
    color: #212529;
}

.p1{
    width: 12%;
    margin: 3%;
}

.p2{
    margin: 3%;
    margin-left: 5%;
    width: 22%;
}

.p3{
    margin: 3%;
}
